body {
 background-color:#BDCCD4;
}
header {
 background-color:rgb(0,0,255);
}
#wrapper {
 width:960px;
 height:auto;
 background-color:#BDCCD4;
 margin: 0 auto;
}
nav {
 margin:0 auto; 
 width:80%;
 height:50px;
 background-color:#C1272D;
 border-radius:25px;
}
.navlist {
}
.navlistitem {
 list-style:none;
 display:inline-block;
}
